.main__page {
    font-size: 22px;
    margin-right: 20px;
}

.categories {
    background-color: #dfd3bb;
    display: flex;
    gap: 20px;
    justify-content: center;
    // align-items: center;
}

.title {
    font-size: 20px;
    padding: 10px 0;
    // border: 1px solid black;
}
